VITE_APP_TITLE=公共微前端基座
VITE_APP_NAMESPACE=public-base-fe
VITE_GLOB_API_URL=/api
VITE_USE_MOCK=true
VITE_PORT=5173
VITE_PROXY_TARGET=http://localhost:3000

# Qiankun 微前端主应用
VITE_MICRO_ENABLED=false
# 无人机子应用入口（开发环境示例）
# VITE_MICRO_UAV_ENTRY=//localhost:5176

# iframe 嵌入
VITE_APP_EMBED_AUTO_IFRAME=true
# VITE_APP_EMBED_PARENT_ORIGIN=https://parent.example.com
