node_modules
dist
.npmrc
packages/*/.npmrc
!.npmrc.example
!packages/*/.npmrc.example
dist-ssr
*.local
.env.local
.env.*.local
!.env.example
.DS_Store
*.log
coverage
.vscode/*
!.vscode/extensions.json
.idea
